<div class='container mt-4 w-25'>
  <%= form_for @user do |f| %>
    <%= render "shared/form_errors", object: @user %>
    <div class="row mb-3">
      <div class="col">
        <div>
          <%= f.label :first_name, class: 'form-label' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div>
          <%= f.label :last_name, class: 'form-label' %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div>
          <%= f.label :username, class: 'form-label' %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div>
          <%= f.label :password, class: 'form-label' %>
          <%= f.text_field :password, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div>
          <%= f.label :email, class: 'form-label' %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="col">
        <div>
          <%= f.label :status, class: 'form-label' %>
          <%= f.select :status, options_for_select(User.statuses.to_a), { prompt: 'Select Status' }, { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <% submit_text = %w[edit update].include?(action_name) ? 'Update User' : 'Create User' %>
    <div class="row text-center">
      <div>
        <%= f.submit submit_text, class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>