<div class='container'>
  <div class="d-flex justify-content-end mt-2 mb-2">
    <%= search_form_for @q do |f| %>
      <div class="d-flex justify-content-end">
        <%= f.search_field :first_name_or_last_name_or_username_or_password_or_email_or_status_cont, class: 'me-2' %>
        <%= f.submit 'Search', class: 'btn btn-primary me-2' %>
      </div>
    <% end %>
    <%= link_to 'Create User', new_user_path, class: 'btn btn-success' %>
  </div>
  <table class='table table-hover mt-2 border'>
    <thead class="table-primary">
      <tr>
        <th><%= sort_link(@q, :first_name, 'First Name', default_order: :asc) %></th>
        <th><%= sort_link(@q, :last_name, 'Last Name', default_order: :asc) %></th>
        <th><%= sort_link(@q, :email, 'E-mail', default_order: :asc) %></th>
        <th><%= sort_link(@q, :username, 'Username', default_order: :asc) %></th>
        <th><%= sort_link(@q, :password, 'Password', default_order: :asc) %></th>
        <th><%= sort_link(@q, :status, 'Status', default_order: :asc) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td><%= user.password %></td>
            <td><%= user.status %></td>
            <%= render 'table_action_buttons', resource: user  %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td class='text-center' colspan='6'>
            <p>None of users found.</p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="d-flex justify-content-end">
      <%= paginate @users %>
    </div>
  </div>
</div>