<div class="container mt-2">
  <div class="d-flex justify-content-end">
    <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
  </div>
  <div class="row mb-2">
    <div class="d-flex justify-content-center">
      <div class="card w-50" style="width: 18rem;">
        <div class="card-header bg-primary text-white">
          <%= @user.full_name %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">E-mail: <%= @user.email %></li>
          <li class="list-group-item">Username: <%= @user.username %></li>
          <li class="list-group-item">Password: <%= @user.password %></li>
          <li class="list-group-item">Status: <%= @user.status %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @user.permissions.present? %>
      <div class="d-flex justify-content-center">
        <h4>Permissions</h4>
      </div>
      <% @user.permissions.each do |permission| %>
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="card w-50 mt-2" style="width: 18rem;">
              <div class="card-header bg-primary text-white">
                Code: <%= permission.code %>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Description: <%= permission.description %></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
